body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
}
.header {
    background-color: #2c302e;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.error {
    background: linear-gradient(#2c302e, #2c302e);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px30px;
    min-height: calc(80vh);
}
.error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1);}
}

.error__container--404 {
    animation-name: pulse;
    /* animation-duration: 1s; */
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    
    font-size: 80px;
    margin: 10px;
    color: white;
    
}

.error__container--title {
    font-size: 16px;
    color: white;
}
.footer {
    background: #2c302e;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footera {
    color: white;
    cursor: pointer;
    font-size: 14;
    padding-left: 30px;
    text-decoration: none; 
}
.footera:hover {
    text-decoration: underline;
}