/* Headers  */
.HeroContent {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    color: #fff;
    padding: 1em;
}

.HeroContent-container {
    grid-template-columns: minmax(auto, 1024px);
    display: grid;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.HeroContent-content {
    width: 100%;
}

.HeroContent-title {
    width: 80%;
}

.HeroContent-stats {
    display: inline-block;
    width: 100%;
    padding: 0.5em 0 0 0;
}

.HeroContent-stats-item {
    display: block;
    padding: 0 0 0 0;
}

.HeroContent-stats-item span {
    font-size: 'Lato', sans-serif;
    font-size: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}

.HeroContent-image {
    position: absolute;
    top: 100px;
    left: 800px;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 287px;
    object-fit: contain;
}

.HeroContent-image img {
    max-width: 100%;
    max-height: 100%;
  }

.HeroContent-action {
    margin-top: 30px;
    width: 100%;
}


a, .HeroContent-action button {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 18px 0;
    font-weight: bold;
    font-size: 14px;
}

.btn, .btn-Gray, .btn-gray, .btn-White, .btn-white, .btn-Green, .btn-green, .btn-Yellow, .btn-yellow, .btn-Orange, .btn-orange, .btn-Sky, .btn-sky, .btn-Red, .btn-red, .btn-Purple, .btn-purple, .btn-Black, .btn-black, .btn-fcbk, .btn-twt, .btn-ytb {
    background-color: #ff0000;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding: 8px 0.8em 6px 0.8em;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.btn-green {
  background-color: red;
}

.btn-sky {
  background-color: black;
}